<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}
        <h1>Projects Page</h1>
        <p>Projects Portfolio</p>

        {{> footer}}
    </body>
</html>
